@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tighter;
  }
  .btn-primary {
    @apply bg-black text-white;
  }
  .btn-text {
    @apply text-black bg-transparent;
  }
  .logo-ticker-img {
    @apply h-8 w-auto;
  }
  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight hover:bg-[#010D3E] hover:text-white ease-in-out duration-300;
  }
  .section-title {
    @apply text-3xl md:text-[48px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }
  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
  }
  .card {
    @apply p-10 shadow-[0_7px_14px_#EAEAEA] border border-[#F1F1F1] rounded-3xl max-w-xs  w-full  max-h-[300px];
  }
  .testimonialCard {
    @apply p-4 shadow-[0_7px_14px_#EAEAEA] border border-[#F1F1F1] rounded-3xl min-w-[320px] max-w-sm  w-full  max-h-[300px] overflow-hidden;
  }
  .image-effect {
    @apply hover:scale-110 duration-300 ease-in-out rounded-lg object-fill;
  }
  .sub-heading {
    @apply relative text-nowrap before:relative w-1 before:h-full before:rounded-full bg-black before:content-[""] before:pr-4 capitalize;
  }
  .bgPattern {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23e2e2e2' fill-opacity='0.38'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  }

  /* swiper csss */

  .video-swiper .swiper-pagination {
    position: relative;
    bottom: -30px;
    text-align: center;
    color: red;
    margin-top: 20px;
  }
  .video-swiper .swiper-pagination-bullet-active {
    background-color: #f00;
    opacity: 1;
  }
  .swiper_container {
    /* height: 22rem; */
    padding: 2rem 0;
    position: relative;
    width: 90%;
    margin-top: 50px;
  }
  .swiper-slide {
    width: 30rem;
    height: 42rem;
    position: relative;
  }
  .font-tinos {
    font-family: "Times New Roman", Times, serif;
  }

  body {
    zoom: 1 !important;
  }

  @media (max-width: 500px) {
    .swiper-slide {
      width: 13rem !important;
      /* height: 24rem !important; */
    }
    .swiper-slide .magazine-image {
      width: 24rem !important;
      /* height: 24rem !important; */
    }
  }
}
